*{
    padding: 0;
    margin: 0;
}
div{
    width: 900px;
    font-size: 20px;
}
h1{
   
    padding-bottom: 10px;
    text-align: center;
    
}
img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    
    
}
.main{
    margin: 0 auto;
}
.top{
    border-bottom: 1px solid black;
    padding: 30px 0 30px 15px
}
.middle1{
    padding-bottom: 30px;
}
ul{
    list-style-position: inside;
        }
.premiddle2{
    padding-top: 30px;
    border-bottom: 3px solid #cbcbcb;
    padding: 30px 0 30px 15px
}
.middle2{
    padding-bottom: 30px;
}
.bottom{
    padding: 30px 0 30px 15px
}